<html>
  <head>
    <meta name="google-signin-client_id" content="<%= googleClientId %>">
    <link rel="stylesheet" href="css/sample.css">
    <link rel="stylesheet" media="screen" href="//d14pr3cu5atb0x.cloudfront.net/pkg/css/chimera-1e92aa15dc.css">
    <link rel="stylesheet" media="screen" href="//d14pr3cu5atb0x.cloudfront.net/pkg/css/icons-f9e2932681.css">
    <link rel="stylesheet" href="css/vendor/tooltip-theme-arrows.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/vendor/turn.min.js"></script>
    <script type="text/javascript" src="js/vendor/zoom.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="js/vendor/paper-full.min.js"></script>
    <script type="text/javascript" src="js/vendor/lodash.min.js"></script>
    <script type="text/javascript" src="js/vendor/tether.min.js"></script>
    <script type="text/javascript" src="js/vendor/drop.min.js"></script>
    <script type="text/javascript" src="js/vendor/tooltip.min.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body class="container-fluid no-overflow white-background">
    <div class="js-sidebar yearbook-index-sidebar full-height overflow-auto inverted">
      <div class="js-toggle-sidebar cursor-pointer close-sidebar">x</div>
      <div class="h4 label margin-bottom-2">Table of contents</div>
      <div>
        <a class="js-go-to-page" data-page="3">I. Cat</a>
      </div>
      <div>
        <a class="js-go-to-page" data-page="4">II. Wave</a>
      </div>
      <div>
        <a class="js-go-to-page" data-page="12">III. Something</a>
      </div>
    </div>
    <div class="js-main full-height overflow-auto">
      <div class="js-toggle-sidebar hamburger cursor-pointer"></div>
      <div class="h2 text-center margin-top-2 margin-bottom-4">
        <span class="logo logo-color logo-text gh-logo-img"></span>
      </div>
      <div class="js-google-signin google-signin">
        <div class="js-google-signin-button g-signin2" data-onsuccess="onSignIn"></div>
      </div>
      <div class="text-center margin-bottom-5">
        <button class="js-fullscreen button">FULLSCREEN</button>
        <button class="js-draw button">DRAW</button>
        <button class="js-flip button is-hidden">STOP DRAWING</button>
      </div>
      <div class="display-flex horizontal-center-flex-container">
        <div id="js-zoom-wrap" class="flipbook-wrap transparent-background make-relative is-hidden">
          <canvas id="js-left-canvas" class="drawing-canvas-1 is-hidden" height="594" width="420"></canvas>
          <canvas id="js-right-canvas" class="drawing-canvas-2 is-hidden" height="594" width="420"></canvas>
          <div id="js-flipbook" class="flipbook">
            <div class="hard"> Animoto: Class of 2017 </div>
            <div class="hard front-side"><div class="depth"></div></div>
            <%- include('partials/page', { pageNum : 3, imageSrc : "https://static.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg" }) %>
            <%- include('partials/page', { pageNum : 4, imageSrc : "images/test_1.jpg" }) %>
            <%- include('partials/page', { pageNum : 5, imageSrc : "images/test_2.jpg" }) %>
            <%- include('partials/page', { pageNum : 6, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 7, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 8, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 9, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 10, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 11, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 12, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 13, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 14, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 15, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 16, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 17, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 18, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 19, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 20, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 21, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 22, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 23, imageSrc : '' }) %>
            <%- include('partials/page', { pageNum : 24, imageSrc : '' }) %>
            <div class="hard fixed back-side"><div class="depth"></div></div>
            <div class="hard"></div>
          </div>
        </div>
      </div><div id="js-slider" class="page-slider margin-top-4 margin-bottom-6">
      </div>
      <div id="js-privacy-policy" class="pull-right is-hidden">
        <a href="//www.iubenda.com/privacy-policy/8279875" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a>
        <script type="text/javascript">(function (w, d) { var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag); $('#js-privacy-policy').removeClass('is-hidden') }; if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; } })(window, document);</script>
      </div>
    </div>
  </body>
  <script>
    ws = new WebSocket('wss://' + window.location.host);
    ws.onerror = function() {
      console.log('websockets error');
    };
    ws.onmessage = function (event) {
      var stroke = JSON.parse(event.data);
      if (stroke.stroke) {
        allStrokes.push(stroke);
        utils.addStrokesToPageCanvas(stroke.page);
      }
    };

    $.ajax({
      url     : '/strokes',
      success : function(res) {
        allStrokes = res;

        for (var i = 1; i < $('#js-flipbook').children().length - 1; i++) {
          utils.addStrokesToPageCanvas(i);
        }
      },
      complete : function() {
        mainObject.initialize();
        $('#js-zoom-wrap').removeClass('is-hidden');
      }
    });
    Tooltip.init();
  </script>
  <script type="text/paperscript" src="js/canvas.js" canvas="js-left-canvas"></script>
  <script type="text/paperscript" src="js/canvas.js" canvas="js-right-canvas"></script>
</html>