<html>
  <head>
    <meta name="google-signin-client_id" content="<%= googleClientId %>">
    <link rel="stylesheet" href="css/sample.css">
    <link rel="stylesheet" media="screen" href="//d14pr3cu5atb0x.cloudfront.net/pkg/css/chimera-1e92aa15dc.css">
    <link rel="stylesheet" media="screen" href="//d14pr3cu5atb0x.cloudfront.net/pkg/css/icons-f9e2932681.css">
    <link rel="stylesheet" href="css/vendor/tooltip-theme-arrows.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/vendor/turn.min.js"></script>
    <script type="text/javascript" src="js/vendor/zoom.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="js/vendor/paper-full.min.js"></script>
    <script type="text/javascript" src="js/vendor/lodash.min.js"></script>
    <script type="text/javascript" src="js/vendor/tether.min.js"></script>
    <script type="text/javascript" src="js/vendor/drop.min.js"></script>
    <script type="text/javascript" src="js/vendor/tooltip.min.js"></script>
    <script type="text/javascript" src="js/vendor/bowser.min.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body class="container-fluid no-overflow white-background">
    <div class="js-sidebar yearbook-index-sidebar full-height overflow-auto inverted">
      <div class="js-toggle-sidebar cursor-pointer close-sidebar">x</div>
      <div class="h4 label margin-bottom-2">Table of contents</div>
      <div>
        <a class="js-go-to-page" data-page="6">I. Letter from the Principal</a>
      </div>
      <div>
        <a class="js-go-to-page" data-page="8">II. Meet the Faculty</a>
      </div>
      <div>
        <a class="js-go-to-page" data-page="10">III. Jason's Corner</a>
      </div>
      <div>
        <a class="js-go-to-page" data-page="12">IV. Senior Photos</a>
      </div>
      <div>
        <a class="js-go-to-page" data-page="30">V. Superlatives</a>
      </div>
      <div>
        <a class="js-go-to-page" data-page="32">V. Interviews</a>
      </div>
      <div>
        <a class="js-go-to-page" data-page="38">VI. Student Life</a>
      </div>
      <div>
        <a class="js-go-to-page" data-page="48">VII. Sports</a>
      </div>
      <div>
        <a class="js-go-to-page" data-page="54">VIII. Who's who?</a>
      </div>
      <div>
        <a class="js-go-to-page" data-page="56">IX. Autographs</a>
      </div>
    </div>
    <div class="js-main full-height overflow-auto">
      <div class="js-toggle-sidebar hamburger cursor-pointer hide-when-sm"></div>
      <div class="h2 yb-top-nav">
        <div class="js-google-signin google-signin">
          <div class="js-google-signin-button inline-block g-signin2" data-onsuccess="onSignIn"></div>
        </div>
        <span class="logo logo-color logo-text gh-logo-img"></span>
      </div>
      <div class="text-center margin-bottom-5">
        <button class="js-fullscreen button hide-when-sm">FULLSCREEN</button>
        <div class="js-doodle-login-tooltip inline-block margin-left-3" data-tooltip-position="bottom center" data-tooltip="Please sign in to doodle!">
          <button class="js-draw button is-disabled">DOODLE</button>
        </div>
        <button class="js-flip button is-hidden">STOP DOODLING</button>
        <button class="js-hide-doodle button">HIDE DOODLES</button>
        <button class="js-show-doodle button is-hidden">SHOW DOODLES</button>
      </div>
      <div class="display-flex horizontal-center-flex-container">
        <div id="js-zoom-wrap" class="flipbook-wrap transparent-background make-relative is-hidden">
          <canvas id="js-left-canvas" class="drawing-canvas-1 is-hidden" height="594" width="420"></canvas>
          <canvas id="js-right-canvas" class="drawing-canvas-2 is-hidden" height="594" width="420"></canvas>
          <div id="js-flipbook" class="flipbook">
            <div class="hard">
              <img class="full-height full-width" src="images/yearbook/page1.jpg" />
            </div>
            <div class="hard front-side"><div class="depth"></div></div>
            <%- include('partials/page', { pageNum : 3, imageSrc : "" }) %>
            <% for (var i = 4; i < 56; i++) { %>
            <%- include('partials/page', { pageNum : i, imageSrc : "images/yearbook/page"+i+".jpg" }) %>
            <% } %>
            <%- include('partials/page', { pageNum : 56, imageSrc : "images/yearbook/pageSigning.jpg" }) %>
            <%- include('partials/page', { pageNum : 57, imageSrc : "images/yearbook/pageSigning2.jpg" }) %>
            <%- include('partials/page', { pageNum : 58, imageSrc : "images/yearbook/pageSigning.jpg" }) %>
            <%- include('partials/page', { pageNum : 59, imageSrc : "images/yearbook/pageSigning2.jpg" }) %>
            <%- include('partials/page', { pageNum : 60, imageSrc : "images/yearbook/pageSigning.jpg" }) %>
            <%- include('partials/page', { pageNum : 61, imageSrc : "images/yearbook/pageSigning2.jpg" }) %>
            <%- include('partials/page', { pageNum : 62, imageSrc : "" }) %>
            <div class="hard fixed back-side"><div class="depth"></div></div>
            <div class="hard">
              <img class="full-height full-width" src="images/yearbook/pageLast.jpg" />
            </div>
          </div>
        </div>
      </div>
      <div id="js-slider" class="page-slider margin-top-4 margin-bottom-6"></div>
      <%- include('partials/privacyPolicy') %>
    </div>
  </body>
  <script>
    isFullScreen = false;
    inDrawMode = false;
    loggedIn = false;
    noDoodleMode = false;

    <% if (env === 'development') { %>
    ws = new WebSocket('ws://' + window.location.host);
    <% } else { %>
    ws = new WebSocket('wss://' + window.location.host);
    <% } %>
    ws.onerror = function() {
      console.log('websockets error');
    };
    ws.onmessage = function (event) {
      var data = JSON.parse(event.data);
      if (data.stroke) {
        allStrokes.push(data);
        utils.addStrokesToPageCanvas(data.page);
      } else if (loggedIn && data.profileImage) {
        $('.js-google-signin').append('<img class="js-google-name-tooltip margin-left-1 google-signed-in-image" data-google-id="' + data.id + '" data-tooltip-position="bottom right" data-tooltip="' + data.name + '" class="google-signed-in-image" src="' + data.profileImage + '" />')
        _.forEach($('.js-google-name-tooltip'), function(el) {
          new Tooltip({
            target : el
          });
        });
      } else if (data.alreadyInRoom) {
        data.alreadyInRoom.forEach(function(user) {
          if (user.profileImage) {
            $('.js-google-signin').append('<img class="js-google-name-tooltip margin-left-1 google-signed-in-image" data-google-id="' + user.id + '" data-tooltip-position="bottom right" data-tooltip="' + user.name + '" class="google-signed-in-image" src="' + user.profileImage + '" />')
            _.forEach($('.js-google-name-tooltip'), function(el) {
              new Tooltip({
                target : el
              });
            });
          }
        });
      } else if (data.removeUser) {
        $('[data-google-id=' + data.removeUser + ']').remove();
      }
    };

    $.ajax({
      url     : '/strokes',
      success : function(res) {
        allStrokes = res;

        for (var i = 1; i < $('#js-flipbook').children().length - 1; i++) {
          utils.addStrokesToPageCanvas(i);
        }
      },
      complete : function() {
        mainObject.initialize();
        $('#js-zoom-wrap').removeClass('is-hidden');
      }
    });
    doodleLoginTooltip = new Tooltip({
      target : $('.js-doodle-login-tooltip')[0]
    });
  </script>
  <script type="text/paperscript" src="js/canvas.js" canvas="js-left-canvas"></script>
  <script type="text/paperscript" src="js/canvas.js" canvas="js-right-canvas"></script>
</html>